<form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)"  class="example-form">
  <mat-card class="review-card">
    <mat-card-header>
      <mat-card-title>{{ restaurant?.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="center-image" width="300px" src="https://cdn.pixabay.com/photo/2016/11/21/16/02/outdoor-dining-1846137_1280.jpg" alt="Restaurant Image">
    <mat-card-content>
      <p>
        <strong>Menu Description: </strong>{{ restaurant?.menuDescription }}<br>
      </p>
      <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. The food was..." ngModel #comment="ngModel" name="comment"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Submit</button>
    </mat-card-actions>
  </mat-card>    
</form>
    



